<!-- The index.html extends the base.html -->
{% extends 'base.html' %} {% block title %}Homepage{% endblock title %}

<!-- The code below is inserted inside the "content" area of base.html -->
{% block content %}
<div id="discussions">
  {% for post in posts %}
  <div class="discussion post-{{ post.id }}">
    <div class="left">
      <button class="upvote post-vote" data-postid="{{ post.id }}">&#x25B2;</button>
      <p class="votes">{{ post.votes }}</p>
      <button class="downvote post-vote" data-postid="{{ post.id }}">&#x25BC;</button>
    </div>
    <a class="right" href="{% url 'discussion_app:single_post' post.id %}">
      <p class="author">{{ post.user.username }} - {{ post.created_timestamp|date:"d/m/Y" }}</p>
      <p class="title">{{ post.title }}</p>
      <p class="text">{{ post.text|truncatechars:100 }}</p>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock content%}
