<!-- The index.html extends the base.html -->
{% extends 'base.html' %} {% block title %}Login{% endblock title %}

<!-- The code below is inserted inside the "content" area of base.html -->
{% block content %}
<div id="login" class="account-page">
<h1>Reset Password</h1>
    {% if token_missing %}
        <p>Invalid reset token.</p>
        <a href="{% url "account_app:request_reset_token" %}">Request a new one here.</a>
    {% else %}
        <form action="{{request.get_full_path}}" method="POST">
        {% comment %} 
            Use here for the url "request.get_full_path", because
            1. You make the POST request to the same page as this one
            2. YOU also WANT to get the URL parameter of token during the POST request.
               Using "account_app:reset_password" renders the reset-password/ ONLY, without
               any URL parameters. So, using "request.get_full_path" redners the whole
               current page URL with all URL parameters, like the ?token= ... 

        {% endcomment %}
                {% csrf_token %}
                <input type="password" name="password1" placeholder="New Password">
                <input type="password" name="password2" placeholder="Confirm New Password">
                <button>Reset Password</button>
        </form>
        {% if error_message %} <p class="status-msg">{{error_message}}</p> {% endif %}
    {% endif %}
</div>

{% endblock content%}