<!-- The index.html extends the base.html -->
{% extends 'base.html' %} {% block title %}Login{% endblock title %}

<!-- The code below is inserted inside the "content" area of base.html -->
{% block content %}
<div id="user-profile" class="account-page">
    <h1>Hi {{ user.get_username }}</h1>
    <section>
        <h3>Overview</h3>
        <p><strong>{{user.get_username}}</strong> is a member since {{user.date_joined}}</p>
    </section>
    <section>
        <h3>Notification{{notifications.count|pluralize}} {{notifications.count}} </h3>
        {% if notifications.count %}
            <div class="notification-list">
                {% for notification in notifications %}
                    <div class="notif-item {{ notification.read|yesno:",unread" }}">
                        <a href="{% url "notification_app:mark_as_read_and_redir" notification.id %}">{{notification}}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no notifications</p>
        {% endif %}

    </section>
    <section>
        <h3>Change password</h3>
        <form action="{% url "account_app:update_password" %}" method="POST">
                {% csrf_token %}
                <input type="password" name="old_password" placeholder="Old Password">
                <input type="password" name="new_password1" placeholder="New Password">
                <input type="password" name="new_password2" placeholder="Confirm New Password">
                <button>Update password</button>
        </form>
        {% if status_message %} <p class="status-msg">{{status_message}}</p> {% endif %}
    </section>
</div>

{% endblock content%}